[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-migrate = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
flask-restful = "*"
flask-marshmallow = "*"
flask-cors = "*"
marshmallow-sqlalchemy = "*"
flask-bcrypt = "*"
flask = "*"
flask-jwt = "*"
flask-jwt-extended = "*"
api-jwt = "*"
marshmallow = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.12"
